.tech {
    width: 20vw;
}

.developer {
    margin-left: 0;
}

.techHeader {
    width: 20vw;

}

.developerHeader {

}

.row {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.rowHeader {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    background-color: #e5e5e5;;
}

.loading {

}